body._lock {
    overflow: hidden;
}

.menu,
.menu__icon {
    display: none;
}

@media (max-width: 1023.98px) {
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu {
        display: block;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #1E1E1E;
        padding: 120px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    // .menu__body::before {
    //     content: "";
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     height: 70px;
    //     z-index: 2;
    // }
    .menu__item{
        text-align: center;
        color: #fff;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
    .menu__link{
        font-size: 30px;
        line-height: 1.6;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}